<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
	<display-name>Archetype Created Web Application</display-name>
	<servlet>
		<servlet-name>Compte</servlet-name>
		<display-name>Compte</display-name>
		<description></description>
		<servlet-class>servlets.Compte</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>Connexion</servlet-name>
		<display-name>Connexion</display-name>
		<description></description>
		<servlet-class>servlets.Connexion</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>DestroySession</servlet-name>
		<display-name>DestroySession</display-name>
		<description></description>
		<servlet-class>servlets.DestroySession</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Compte</servlet-name>
		<url-pattern>/Compte</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Connexion</servlet-name>
		<url-pattern>/Connexion</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>DestroySession</servlet-name>
		<url-pattern>/DestroySession</url-pattern>
	</servlet-mapping>

	<!-- Pour le transfert d'image -->



	-
	<servlet>

		<servlet-name>Upload</servlet-name>

		<display-name>Upload</display-name>

		<description />

		<servlet-class>servlets.Upload</servlet-class>


		-
		<multipart-config>

			<max-file-size>10485760</max-file-size>

			<!-- 10 Mo -->


			<max-request-size>52428800</max-request-size>

			<!-- 5 x 10 Mo -->


			<file-size-threshold>1048576</file-size-threshold>

			<!-- 1 Mo -->


		</multipart-config>

	</servlet>



	-
	<servlet>

		<servlet-name>Localisation</servlet-name>
		<display-name>Localisation</display-name>
		<description></description>
		<servlet-class>servlets.Localisation</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>Test</servlet-name>
		<display-name>Test</display-name>
		<description></description>
		<servlet-class>servlets.Test</servlet-class>

	</servlet>
	<servlet>
		<servlet-name>SuprimeAnnonce</servlet-name>
		<display-name>SuprimeAnnonce</display-name>
		<description></description>
		<servlet-class>servlets.SuprimeAnnonce</servlet-class>
	</servlet>

	<servlet-mapping>


		<servlet-name>Upload</servlet-name>

		<url-pattern>/Upload</url-pattern>
	</servlet-mapping>


	<servlet-mapping>



		<servlet-name>Localisation</servlet-name>
		<url-pattern>/Localisation</url-pattern>
	</servlet-mapping>

	<servlet-mapping>

		<servlet-name>Test</servlet-name>
		<url-pattern>/Test</url-pattern>

	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>SuprimeAnnonce</servlet-name>
		<url-pattern>/SuprimeAnnonce</url-pattern>
	</servlet-mapping>

</web-app>